<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>CNU野营社</title>
	<%= stylesheet_link_tag "cnucamp" %>
	<!--[if IE]><meta http-equiv="imagetoolbar" content="no" /><meta http-equiv="X-UA-Compatible" content="IE=8" /><![endif]-->
	<!--CSS by Eirik Backer-->
	<!--Origin: http://ringvemedia.com/-->
	<!--Adopted by P.S.V.R-->	
</head>
<body>
<%= yield %>
<%= render :partial => "common/google_analytics"%>
</body>
</html>