<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>CNU野营社</title>
  	<%= stylesheet_link_tag "cnucamp" %>
	<link rel="stylesheet" media="screen" type="text/css" href="g/a.css" />
	<script type="text/javascript" src="g/mootools.js"></script><script type="text/javascript" src="g/core.js"></script>
	<!--[if IE]><meta http-equiv="imagetoolbar" content="no" /><meta http-equiv="X-UA-Compatible" content="IE=8" /><![endif]-->
	<!--Site Originally by Eirik Backer-->
	<!--Source: http://ringvemedia.com/-->
</head>
<body>
<%= yield %>
<%= render :partial => "common/google_analytics"%>
</body>
</html>